<template>
    <div class="container">
        <loader v-show="loading == true"></loader>
        <transition-group name="r-list" tag="div">
            <template v-for="(repo, index) in repositories">
                <repos-list-item :key="index" :owner="repo.name" :description="repo.description" :img="repo.owner.avatar_url" :stars="repo.stargazers_count" :issues="repo.open_issues" :created="repo.created_at" :link="repo.html_url"></repos-list-item>
            </template>
        </transition-group>
        <b-pagination :total-rows="totalItems" :per-page="perPage" v-model="currentPage" align="center"></b-pagination>
    </div>
</template>

<script>
import ReposListItem from '@/components/ReposListItem.vue'
import Loader from '@/components/TheLoader.vue'
import {mapGetters, mapActions} from 'vuex'

export default {
    components: {
        ReposListItem,
        Loader,
    },
    data(){
        return {
            currentPage: 1,
            loading: false,
            totalItems: 1000,
            perPage: 30
        }
    },
    watch: {
        currentPage(){
            this.loading = true;
            this.$store.dispatch('updatePage',this.currentPage);
            this.fetchRepositories.then(() => {
                this.loading = false;
            });
        }
    },
    mounted(){
        if(!this.hasRepositories) {
            this.loading = true;
            this.fetchRepositories.then(() => {
                this.loading = false;
            });
        }
    },
    computed: {
        ...mapGetters([
            'repositories',
            'hasRepositories',
        ]),
        ...mapActions([
            'fetchRepositories',
        ])
    }
}
</script>

<style scoped>
.r-list-enter-active, .r-list-leave-active {
  transition: all 0.5s;
}
.r-list-enter, .r-list-leave-to {
  opacity: 0;
}
</style>
