<template>
    <div>
        <b-card 
        :title="owner"
        :img-src="img" 
        img-left 
        class="repo text-left">
            <b-card-text>
                {{description}}
            </b-card-text>
            <b-card-text class="footer">
                <label class="info">Stars: {{stars}}</label>
                <label class="info">Issues {{issues}}</label>
                <label> Submitted {{created | formatDate}} by {{owner}}</label>
                
            </b-card-text>
            <b-button slot="footer" class="view" :href="link" variant="primary">View</b-button>
        </b-card>
    </div>
</template>

<script>
import moment from 'moment';
export default {
    props: {
        owner: String,
        img: String,
        description: String,
        stars: Number,
        issues: Number,
        created: String,
        link: String
    },
    filters: {
        formatDate(val){
            return moment(val).fromNow();
        }
    }
}
</script>

<style lang="scss" scoped>
.repo {
    padding: 10px;
    margin-bottom: 15px;
    box-shadow: 0 2px 7px 0px rgba(0,0,0,0.2);

    h4 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 500px;
    }
    img {
        box-shadow: 0 2px 2px 0px rgba(0,0,0,0.2);
        max-width: 150px;
        height: 150px;
    }

    .card-body {
        padding-bottom: 3px;
    }

    .footer {
        position: relative;
        bottom: -10px;

        .info {
            border: 1px solid;
            border-radius: 5px;
            padding: 2px 10px;
            margin-right: 5px; 
        }
    }

    .card-footer {
        border: 0px;

        a {
            margin-top: 60%;
        }
    }
}

</style>
