<template>
    <transition name="fade" mode="out-in">
        <div class="timeline-item">
            <div class="animated-background">
                <div class="background-masker header-top"></div>
                <div class="background-masker header-left"></div>
                <div class="background-masker header-right"></div>
                <div class="background-masker header-bottom"></div>
                <div class="background-masker subheader-left"></div>
                <div class="background-masker subheader-right"></div>
                <div class="background-masker subheader-bottom"></div>
            </div>
        </div>
    </transition>
</template>

<script>
export default {

}
</script>

<style scope>
.timeline-item {
    background: #fff;
    border-radius: 3px;
    padding: 12px;
    margin: 0 auto;
    max-width: 100%;
    min-height: 150px;
    box-shadow: 0 2px 7px 0px rgba(0,0,0,0.2);
    margin-bottom: 15px;
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -1084px 0
    }
    100%{
        background-position: 1084px 0
    }
}

.animated-background {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 100% 104px;
    height: 150px;
    position: relative;
}

.background-masker {
    background: #fff;
    position: absolute;
}

.background-masker.header-top {
    top: 0;
    left: 150px;
    right: 0;
    height: 20px;
}
.background-masker.header-left {
    top: 20px;
    left: 150px;
    height: 28px;
    width: 20px;
}

.background-masker.subheader-left {
    top: 68px;
    left: 150px;
    height: 28px;
    width: 20px;
}

.background-masker.header-right {
    top: 20px;
    left: 600px;
    height: 28px;
    width: auto;
    right: 0;
}

.background-masker.subheader-right {
    left: 450px;
    top: 68px;
    width: auto;
    right: 0;
    height: 28px;
}

.background-masker.header-bottom {
    left: 150px;
    top: 48px;
    height: 20px;
    width: auto;
    right: 0;
}

.background-masker.subheader-bottom {
    left: 150px;
    top: 96px;
    right: 0;
    width: auto;
    height: 60px;
}

</style>
